*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color_principal:#56b2e1;

}
#cabecalho.desktop{
    background-color:var(--color_principal);
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr 4fr;
    place-items: center center;
    position: sticky;
    top: 0;

}
#cabecalho.moblie{
    background-color:var(--color_principal) ;
    display: none;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 0.5fr 4fr;
    place-items: center center;
    position: sticky;
    top: 0;
}


#menu {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center center;
    padding: 10px;
}
#menu ul{
    list-style: none;
    display: flex;

    flex-wrap: wrap;

    gap: 10px;

}
#menu ul li a{
    text-decoration: none;
}

#conteudo_principal{
    padding: 30px;
    display: grid;

    grid-template-columns: 1fr;
    place-items: center center;

}
#conteudo_principal h1,#conteudo_principal h2,.tabela h2{
    color: var(--color_principal);
}

section{
    width: 100%;
}

section h2{
    text-align: center;
    color:  var(--color_principal);
}
.tabela{
    padding: 10px;
    justify-self: center;

    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
table{
    display: table;
    text-indent: initial;
    unicode-bidi: isolate;
}

.tabela table tr td{
    
    border: 1px solid ;
    padding: 10px;
    
    order: 2;
}


#btn{
    padding: 10px;
    border-radius: 15px;
    background-color:  var(--color_principal);
    border: none;
    
}
#btn a{
    text-decoration: none;
    color: white;
}

@media(max-width: 600px){
   #cabecalho.desktop{
        display: none;

    }
    #cabecalho.moblie{
        display: grid;
    }
    #menu ul{
        flex-direction: column;
    } 
}